---
---

@import "{{ site.theme }}";
.page-header {
    background-image: url("https://i.gyazo.com/626edcb2663ba00f4ffa95692e17bafd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    max-width: 100%;
    height: auto;
}
