---
---

@import "{{ site.theme }}";
.page-header {
    background-image: url("https://i.gyazo.com/f0c9a0ca178e8424f6a221886ff04fe4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    max-width: 100%;
    height: auto;
}
